<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>学生管理</title>

    <style>
        body {
            padding-top: 50px;
        }

    </style>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">令人窒息的后台管理界面</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                菜单一
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            菜单一下面的内容
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                菜单二
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            菜单二下面的内容
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                菜单三
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            菜单三下面的内容
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9  col-md-10  main">

            <!--面板组件开始-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">学生管理</h3>
                </div>
                <div class="panel-body">

                    <div style="padding-bottom: 15px">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail2"
                                       placeholder="搜索">
                            </div>
                            <button type="submit" class="btn btn-primary" disabled="disabled">搜索</button>

                            <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                    data-target="#myModal" id="m-addStudentBtn">从模态框添加
                            </button>

                            <a href="/add_student/" class="btn btn-success pull-right">在新页面添加</a>
                        </form>
                    </div>

                    <!--表格开始-->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">学生id</th>
                                <th class="text-center">学生姓名</th>
                                <th class="text-center">班级名称</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in student_dict %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.name }}</td>
                                    <td cid="{{ student.class_id }}">{{ student.classname }}</td> <!--用来模态框取class_id-->
                                    <td>
                                        <button type="button" class="btn btn-success edit" id="modal-btn">
                                            <span class="glyphicon glyphicon-pencil ">在模态框中编辑</span>
                                        </button>

                                        <a href="/edit_student/?sid={{ student.id }}" class="btn btn-success">在新页面编辑</a>

                                        <a href="/del_student/?sid={{ student.id }}" class="btn btn-danger">删除</a>
                                        <a id="alertDelStudent" type="button" class="btn btn-danger">用sweetalert删除</a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--表格结束-->
                    <nav aria-label="Page navigation" class="pull-right">

                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <!--面板组件结束-->

    </div>
</div>



<!--添加学生信息模态框开始-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加学生信息</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">

          <div class="form-group">
            <label for="addStudentName" class="col-sm-2 control-label">学生姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="addStudentName" placeholder="学生姓名" name="student_name">
                <span class="help-block"></span>
            </div>
          </div>
            <div class="form-group">
            <label for="addStudentName" class="col-sm-2 control-label">班级名称</label>
            <div class="col-sm-10">
                <select name="class_id" id="addModalSelect" class="form-control">
                    {% for class in  class_dict %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="modal-add-submit" type="button" class="btn btn-primary">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--添加学生信息模态框结束-->


<!--编辑学生信息模态框开始-->
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">编辑学生信息</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <input id="editStudentID" type="text" name="student_id" style="display: none">
          <div class="form-group">
            <label for="addStudentName" class="col-sm-2 control-label">学生姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="editStudentName" placeholder="学生姓名" name="student_name">
                <span class="help-block"></span>
            </div>
          </div>
            <div class="form-group">
            <label for="editModalSelect" class="col-sm-2 control-label">班级名称</label>
            <div class="col-sm-10">
                <select name="class_id" id="editModalSelect" class="form-control">
                    {% for class in  class_dict %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="modal-edit-submit" type="button" class="btn btn-primary">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--编辑学生信息模态框结束-->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/sweetalert/sweetalert.min.js"></script>

<script>



$(document).ready(function () {
 // 文档加载完之后执行的
    $('#m-addStudentBtn').on('click',function(){
        $("#addStudentName+span").text('').parent().parent().removeClass("has-error");
    });
    // 给添加班级信息模态框里面的提交按钮绑定事件
    $("#modal-add-submit").on("click", function () {
         // 取值
        var studentName = $("#addStudentName").val();
        var classID = $("#addModalSelect").val();
        // 发请求
        $.ajax({
            url: "/modal_add_student/",
            type: "post",
            data: {"student_name": studentName, "class_id": classID},
            success: function (data) {
                var dataObj = JSON.parse(data);
                if (dataObj.status === 0) {
                    // 添加成功,重新加载当前页面
                    location.reload();
                }else {
                    $("#addStudentName+span").text(dataObj.msg).parent().parent().addClass("has-error");
                }
            }
        });
    });

    // 编辑学生信息
    $("tbody").on("click", "#modal-btn", function () {
        // 打开模态框
        $("#myEditModal").modal("show");
        // 取值
        var $tds = $(this).parent().parent().children();
        var studentID = $($tds[0]).text();
        var studentName = $($tds[1]).text();
        // 取学生的班级ID
        var classID = $($tds[2]).attr("cid");
        // 填到编辑学生信息的模态框
        $("#editStudentID").val(studentID);
        $("#editStudentName").val(studentName);
        // 设置select框的值
        $("#editModalSelect").val(classID);
    });

    // 点击编辑学生信息模态框里面的提交按钮，要做的事儿
    $("#modal-edit-submit").on("click", function () {
        // 获取编辑之后的学生信息
        var studentID = $("#editStudentID").val();
        var studentName = $("#editStudentName").val();
        var classID = $("#editModalSelect").val();
        // 提交
        $.ajax({
            url: "/modal_edit_student/",
            type: "post",
            data: {"student_id": studentID, "student_name": studentName, "class_id": classID},
            success: function (data) {
                console.log(data);
                // 反序列化data --> JS对象
                var dataObj = JSON.parse(data);
                if (dataObj.status === 0) {
                    // 更新成功，刷新当前页面
                    location.reload();
                }else {
                    // 学生姓名为空
                    $("#editStudentName+span").text(dataObj.msg).parent().parent().addClass("has-error");
                }
            }
        })
    });
    // 删除二次确认
    $("tbody").on("click" , "#alertDelStudent", function () {
        var studentID = $(this).parent().parent().children().eq(0).text();
        var $tr = $(this).parent().parent();
        // 弹出sweetalert二次确认框
        // swal("1", "2", "warning");
        swal({
        title: "确定要删除这条学生信息吗？",
        text: "删除后可就无法恢复了。",
        type: "warning",
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: "是的，我要删除！",
        confirmButtonColor: "#ec6c62",
        cancelButtonText: "容我三思"
    }, function (isConfirm) {
        if (!isConfirm) return;
        $.ajax({
            url: "/modal_del_student/",
            type: "post",
            data: {"student_id": studentID},
            success: function (data) {
                var dataObj = JSON.parse(data);
                if (dataObj.status === 0) { //后端删除成功
                    swal("删除成功", dataObj.msg, "success");
                    $tr.remove();  //删除页面中那一行数据
                } else {
                    swal("出错啦。。。", dataObj.msg, "error");  //后端删除失败
                }
            },
            error: function () {  // ajax请求失败
                swal("啊哦。。。", "服务器走丢了。。。", "error");
            }
        })
    });
    })
});


</script>

</body>
</html>